{% extends 'artist/base.html' %}

<!-- title-->
{% block title %} Login {% endblock %}
<!-- content-->
{% block content %} {% if form.errors %}
<p> something wrong</p>
{% endif %} {% if next %}
<p> you cant go there</p>

{% endif %}

<div class="wrapper">
  <form id="login" method="post" action="{% url 'login' %}">
    <fieldset class="form-group">
      <legend class="border-bottom mb-4"> Sign In </legend>
    </fieldset>
    {% csrf_token %} {{ form.as_table }}
    <div class="col">
      Username <input type="text" name="username" />
    </div>
    <div class="col">Password <input type="password" name="password" /></div>
    <input type="hidden" name="next" value="{{ next }}" />
    <a href="">
      <p>Forgotten Password?</p>
    </a>
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="col form-group text-right">
      <button class=" btn btn-outline-success " type="submit">Log In</button>
    </div>
    <div class="border-top pt-3">
      <small class="text-muted">
      Need an Account? <a class="ml-2" href="{% url 'signup' %}">Sign Up</a>
    </small>
    </div>
  </form>
</div>
{% endblock %}
