* {
    margin: 0px;
    padding: 0px;
}

a:link {
    text-decoration: none;
}

@font-face {
    font-family: "ONEDAY Bold";
    src: url("/static/artist/fonts/ONEDAY/ONEDAY.eot");
    src: url("/static/artist/fonts/ONEDAY/ONEDAY.woff") format("woff"),
    url("/static/artist/fonts/ONEDAY/ONEDAY.otf") format("opentype"),
    url("/static/artist/fonts/ONEDAY/ONEDAY.svg#filename") format("svg");
}

.navbar-brand,
#navbarNav {
    font-family: 'ONEDAY Bold', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}


body {
    background: white url('images/match.png')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    position: relative;
}


form {
    margin: 120px auto;
    display: inline-block;
    background: white;
    border-radius: 5px;
    padding: 5px;
}

input {
    margin: 10px auto;
    display: inline-block;
    background: white;
    border-radius: 5px;
    padding: 5px;
}

.startheader {
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2px;
    font-family: 'ONEDAY Bold', Arial, sans-serif;
    position: relative;
}

.wrapper {
    margin: 20px 10px;
    background: light-purple;
    opacity: .8;
    border-radius: 5px;
    padding: 2px;
    position: relative;
}

.register,
.sign {
    background: white;
    opacity: .8;
    border-radius: 5px;
    padding: 2px;
    position: relative;
    text-shadow: 2px 1px red;
    max-width: 35%;
}

.register {
    margin: 190px auto 0;
}

.sign {
    margin: 10px auto;
}


.logo{
    margin:80px auto 10px;
}
form table{
    text-align: left;
    margin:20px;
}
input,text{
    margin:5px 5px;
}
