* {
    margin: 0px;
    padding: 0px;
}

a:link {
    text-decoration: none;
}

@font-face {
    font-family: "ONEDAY Bold";
    src: url("/static/artist/fonts/ONEDAY/ONEDAY.eot");
    src: url("/static/artist/fonts/ONEDAY/ONEDAY.woff") format("woff"),
    url("/static/artist/fonts/ONEDAY/ONEDAY.otf") format("opentype"),
    url("/static/artist/fonts/ONEDAY/ONEDAY.svg#filename") format("svg");
}

.navbar-brand,
#navbarNav {
    font-family: 'ONEDAY Bold', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

nav {
    opacity: .9 !important;
    width: 100% !important;
}

body {
    background: white url('images/match.png')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    position: relative;
}

/*form styling */

form {
    margin: 120px auto;
    display: inline-block;
    background: white;
    border-radius: 5px;
    padding: 2px;
}

input {
    margin: 10px auto;
    display: inline-block;
    background: white;
    border-radius: 5px;
    padding: 5px;
}

#startheader {
    margin: 250px auto;
    padding: 20px;
    background: white;
    font-family: 'ONEDAY Bold', Arial, sans-serif;
    position: relative;
    opacity: .7;
}

.startheader {
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2px;
    font-family: 'ONEDAY Bold', Arial, sans-serif;
    position: relative;
    opacity: .7;
}

.wrapper {
    background: light-purple;
    opacity: .8;
    border-radius: 5px;
    position: relative;
    min-height: 100vh;
}

.register,
.sign {
    background: white;
    opacity: .8;
    border-radius: 5px;
    padding: 2px;
    position: relative;
    text-shadow: 2px 1px red;
    max-width: 35%;
}

.register {
    margin: 190px auto 0;
}

.sign {
    margin: 10px auto;
}

#login {
    margin: 280px auto;
}

#register {
    margin: 200px auto;
}

.logo {
    margin: 80px auto 10px;
}

form table {
    text-align: left;
    margin: 20px;
}

input,
text {
    margin: 5px 5px;
}

/*- LANDING PAGE STYLING -*/

.landing {
    background-color: #ffffff;
    margin: 200px auto 10px;
    height: 100%;
    border-radius: 5px;
}

.btn-landing {
    border-radius: 50px;
    border: 2px solid #f1f1f1;
    background-color: #031101;
    opacity: .9;
    color: #ffffff;
    font-weight: bold;
}

.btn-landing:hover {
    border-radius: 5px;
    border: 2px solid #8EBC77;
    background-color: #ffffff;
    opacity: .9;
    color: #000000;
    font-weight: bold;
}

#footer {
    position: absolute;
    bottom: 20;
    width: 100%;
    background: #343A40;
    color: #ffffff;
    height: auto;
    opacity: .9;
    border-top: 3px solid #000000;
    text-align: center;
    padding: 10px;
}
