{% extends 'artist/base.html' %}

<!-- title-->
{% block title %} Sign Up {% endblock %}
<!-- content-->
{% block content %} {% if form.errors %}
<p> something wrong</p>
{% endif %} {% if next %}
<p> you cant go there</p>

{% endif %}

<form class='site-form' method="post" action="{{ 'signup' }}">
  <table>
    {% csrf_token %} {{ form.as_table }}
  </table>
  <div class="col text-right">
    <input class=" btn btn-success " type="submit " value="Submit" />

  </div>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
