{% extends 'artist/base.html' %} {% block title %} Meet the | Artist {% endblock %} {% block content %}


<div class="wrapper">
    <!-- About Section Start -->
    <section id="about" class="profile section-padding">
        <div class="container">
            <!-- {{ qs }}-->

            <div class="col">
                <div class="row text-center">
                    <div id="profile-img" class="text-center">
                        <img class="profile-img" src="{{ artist.image.url }}" alt="profile pic" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="col about">
                            about tect will go here
                        </div>
                        <div class="about-profile">
                            <div class="row artist-details">
                                <div class="col"><span class="pro-title"> Artist </span> <span class="pro-detail">{{ user.username }}</span></div>
                                <div class="col"><span class="pro-title"> Craft </span> <span class="pro-detail">{{ user.username }}</span></div>
                                <div class="col"><span class="pro-title"> Speciality </span> <span class="pro-detail">{{ user.username }}</span></div>
                            </div>
                        </div>
                        <div class="col actions">
                            <a href="">
                                <input class="btn btn-landing" type="button" value="Let's Work">
                            </a>
                        </div>
                        <div class="works">
                            <h2>My Works</h2>
                            <div class="row works-data">
                                {% for catalogue in catalogues%}
                                <div class="col work-data">
                                    1
                                </div>
                                {%endfor%}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- About Section End -->

</div>

{% endblock %}
